@import-normalize;

.h1,
.p {
  margin: 0;
}

.form-group {
  gap: 15px;
  display: flex;
  align-items: center;
}

.app,
.ui,
.form {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.buttons {
  gap: 15px;
  display: flex;
  padding-top: 15px;
  border-top: 1px solid black;
}
